/* helping adds*/

.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.cfix:after{content: '';display: block;height: 0;font-size: 1px;line-height: 1px;overflow: hidden;clear: both;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.jfix-after:after{content: '';display: inline-block;width: 100%;height: 0;overflow: hidden;}
.vfix{height:100%;width:0px;display:inline-block;vertical-align:middle;}
.vfix-before:before{content: '';height: 100%;width: 0;display: inline-block;vertical-align: middle;}

.hidden-block{position:absolute;left:-99999em;top:-99999em;}

/* /helping adds*/

/* ctext */

    .ctext{
        h1, h2, h3, h4, h5, h6{line-height: 1.25;margin-bottom: 15px;font-weight: 700;}
        h1{font-size: 36px;}
        h2{font-size: 32px;}
        h3{font-size: 28px;}
        h4{font-size: 24px;}
        h5{font-size: 20px;}
        h6{font-size: 16px;}
        p{margin-bottom: 10px;font-size: 14px;}
    }

/* /ctext */

/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;}
body{min-height:100%;width:100%;min-width:320px;font-family: 'Roboto', sans-serif; background:#fff;color:#3d3d3d;position:relative;font-size: 14px;line-height: 1; font-weight: 300;

    /* styles for wp-admin panel */

    &.customize-support{
        .wp-panel-show{top:32px;} //fixed elements (if their has top:0) must has class .wp-panel-show
    }

    /* /styles for wp-admin panel */

}
img{vertical-align:bottom;border:0;max-width:100%;}

/* adapted styles for wp-admin panel */

@media screen and (max-width: 782px){

    body{
        &.customize-support{
            .wp-panel-show{top:46px;}
        }
    }

    #wpadminbar{position: fixed!important;}

}
/* /adapted styles for wp-admin panel */

/* /base styles */

/* wraps styling*/

.mbox{max-width:1170px;width:100%;margin:0 auto;position:relative;z-index:1; padding: 0 15px;}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

/* /wraps styling*/


.footer_placeholder{height: 200px;}
.footer{position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;}

input, textarea{
    &::-webkit-input-placeholder {color:#212121;}
    &:-moz-placeholder {color:#212121;opacity:1;}
    &::-moz-placeholder {color:#212121;opacity:1;}
    &:-ms-input-placeholder {color:#212121;}
}

/*End Layout*/

/*fonts*/
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "/fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

//  example -> @include font-face('PFDinTextPro', 'PFDinTextPro-Bold', 700, italic);
/*/fonts*/
a{ text-decoration: underline; text-decoration-style: dotted;
    &:hover{ text-decoration: none;}
}
.button{ display: inline-block; border:none; background: none;text-decoration: none;
    span{ display: flex; justify-content: center; align-items: center; height: 33px; width: 224px; background-color: #ffde00; color: #40434e; text-transform: uppercase; font-weight: 700; }
    &:hover span{ background-color: #ffea59;}
}
h2{ font-size: 30px;}
.header{ background-color: #40434e; position: relative; z-index: 200;
    &__wrap{ height: 96px; display: flex; justify-content: space-between; align-items: center;}
    &__left{ display: flex; justify-content: space-between; align-items: center;width: 277px;}
    &__right{ display: flex; justify-content: space-between; align-items: center;width: 361px; margin-left: 9px;}
    &__logo{ font-size: 24px; font-weight: 700; padding-top: 5px;
        a{color: #ffc800; text-transform: uppercase; text-decoration: none;}
        span{font-weight: 100;}
    }
    &__lang{ padding-top: 3px;
        .jq-selectbox li:hover { background-color: #f3f3f3; color: #000;}
        .jq-selectbox .jq-selectbox__select{border:none; box-shadow: none; background: transparent;padding: 0 25px 0 10px;}
        .jq-selectbox__select-text{text-shadow: none; font-weight: 700; text-transform: uppercase; color: #fff; text-decoration: underline; text-decoration-style:dotted;}
        .jq-selectbox__trigger{border:none; width: 23px;}
        .jq-selectbox__trigger-arrow { position: absolute;top: 11px; right: 14px;  width: 7px; height: 7px; border:none; border-right: 1px solid #ffc800; border-bottom: 1px solid #ffc800; background: transparent; transform: rotate(45deg);}
    }
    &__search{ position: relative; width: 456px;
        input{ background: #4f525f;border:none; box-shadow: none; width: 100%;  color: #40434e; font-size: 14px; padding: 0 53px 0 17px;height: 37px;
            &::-webkit-input-placeholder { color: #b6b6b6;}
            &:-moz-placeholder           { color: #b6b6b6;}
            &::-moz-placeholder          { color: #b6b6b6;}
            &:-ms-input-placeholder      { color: #b6b6b6;}
            &:focus{ background-color: #fff;}

        }
        button{ position: absolute; border:1px solid #ffc800; width: 36px; height: 37px; box-shadow: none; background-color: #40434e;right: 0; top: 0; transition: all 200ms;
            span{ background-image: url(../images/lupa.svg); width: 17px; height: 17px; display: block; top: 0; left: 0; bottom: 0; right: 0; margin: auto;}
            &:hover{ background-color: #71747d;}
        }
    }
    &__result{ position: absolute; top: 100%; left: 0; width:calc(100% - 36px); background-color: #fff; padding: 0; margin: 0; list-style-type: none;  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.26); display: none;
        li{ }
        a{ color: #40434e; font-size: 14px; font-weight: 400; display: inline-block; width: 100%; padding: 9px 17px;
            &:hover{ text-decoration: underline;background-color: #f3f3f3;}
        }
    }
    &__contacts{}
    &__enter{ position: relative;
        &--entered{
            .header__item{color: #ffc800;}
        }
    }
    &__arrow{ position: relative; width: 21px; height: 21px;
        &:before{position: absolute;top: 5px; right: 8px;  width: 7px; height: 7px; border:none; border-right: 1px solid #ffc800; border-bottom: 1px solid #ffc800; background: transparent; transform: rotate(45deg); content: '';}
    }
    &__item{ text-transform: uppercase; font-weight: 700; color: #fff; font-size: 14px; display: inline-flex; justify-content: flex-start; align-items: center; text-decoration: none; cursor: pointer;
        img{ margin-right: 10px;}
        &.active{
            .header__arrow:before{ transform: rotate(225deg); top: 7px; }
        }
    }
    &__count{ display: inline-flex; height: 21px; font-weight: 700; color: #40434e; background-color: #ffde00; justify-content: flex-start; align-items: center; position: relative; margin-left: 17px; padding: 0 4px;
        &:before{content:''; border:4px solid transparent; border-right:4px solid #ffde00; position: absolute; width: 0; height: 0; right: 100%; top: 6px;}
    }
    &__dropdown{ padding: 11px 15px 14px; margin: 0; list-style-type: none; position: absolute; background-color: #fff; right: 0; box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.26);top: calc(100% + 8px); min-width: 195px; display: none;
        a{ color: #40434e; line-height: 2.571; text-transform: uppercase; font-weight: 700;}
    }
}
.nav{ background-color: #ffde00; position: relative; z-index: 150;
    &__wrap{
        ul{ display: flex; justify-content: space-between; align-items: center; list-style-type: none; margin: 0; padding: 0; height: 50px;}
        li{  flex-grow: 1; text-align: center; border-right: 1px solid #40434e; padding: 3px 0;
            &:last-child{ border-right:none;}
        }
        a{ width: 100%; text-transform: uppercase; font-weight: 700; color: #2d303b; font-size: 16px;  position: relative; text-decoration: none;
            &:before{ width: 100%; position: absolute; top: -15px; left: 0; height: 3px; background-color: #fff; content: ''; opacity: 0; transition: all 100ms;}
            &:hover,
            &.active{
                &:before{ opacity: 1;}
            }
        }
    }
}
.footer{
    &__top{ background-color: #40434e; padding: 30px 0 37px;}
    &__bottom{  background-color: #383b46;}
    &__socials{height: 106px; width: 100%;  color: #fff; font-weight: 700; font-size: 14px; text-transform: uppercase; display: flex; justify-content: center; align-items: center;
        span{ padding-top: 5px; margin-right: 11px;}
    }
    &__nav{ display: flex; justify-content: flex-start; align-items: flex-start; width:calc(100% - 291px);}
    &__container{ display: flex; justify-content: space-between; align-items: flex-start;}
    &__col{ padding: 0; list-style-type: none; margin: 0; width: 197px; padding-right: 7px;
        li{ font-weight: 400;
            &:first-child{ margin-bottom: 8px;
                a{ color: #ffc800; font-weight: 700; text-transform: uppercase; text-decoration: none;}
            }
        }
        a{ color: #fff;line-height: 2.143; }
    }
}
.social-icon{ display: inline-block; width: 40px; height: 40px; margin:0 5px; position: relative;
    img{width: 100%; height: 100%; object-fit: cover;}
    &:hover{box-shadow: 0 0 5px 0 rgba(255,255,255,0.6);}
}
.timer{ width: 291px; height: 191px;border: 1px dashed #fff; color: #fff; font-weight: 700;text-align: center; position: relative; padding-top: 32px; margin-top: 13px;
    &__title{ text-transform: uppercase; display: inline-block; background-color: #40434e; position: absolute; top: -7px; left: 50%; transform:translateX(-50%); white-space: nowrap;
        span{color: #ffc800;}
    }
    &__text{
        p{ margin: 0; font-weight: 400;
            &:first-child{ text-transform: uppercase; font-weight: 700;margin-bottom: 6px}
        }
    }
    &__img{    padding-top: 4px; padding-left: 7px;}
    &__clock{ display: flex; justify-content: center; align-items: flex-start; margin-bottom: 33px;}
    &__date{ text-align: left; margin-left: 18px;
        b{ font-weight: 100; font-size: 55px;}
        p{font-weight: 300; margin: -2px 0 0; span{ color: #ffc800;}}
    }
}
.top-main{ position: relative;
    &__banners{ position: absolute; width: 100%; left: 0; top: 0; pointer-events: none;}
    &__banners-wrap{ display: flex; justify-content: space-between; align-items: flex-start; padding-top: 22px;}
    &__box{
        ul{ list-style-type: none;   margin: 0; padding: 0;}
        li{ display: flex; justify-content: center; align-items: center; width: 194px; height: 120px; background-color: #fff; margin-bottom: 22px; pointer-events: all;}
        .small li{ height: 53px; border-bottom:1px solid #e9ecf2; margin-bottom: 0;}
    }
}
.fade-slider{ width: 100%; height: 308px; overflow: hidden;
    &__slide{ width: 100%; position: relative; }
    &__bg{ width: 100%;height: 308px; position: relative; z-index: 0;
        img{object-fit: cover; height: 100%; width: 100%; }
        &:before{ position: absolute; content: ''; width: 100%; height: 100%; left: 0; top: 0; z-index: 100; background-color: rgba(64,67,78,0.5);}
    }
    &__text{ position: absolute; top: 25px; left:50%;  transform: translateX(-50%); z-index: 10; color: #fff; max-width: 619px;  width: 100%; min-height:230px;
        h2{ margin: 0; font-weight: 700; text-transform: uppercase; color: #ffde00; margin-bottom: 30px;}
        p{ margin:0; font-weight: 300; text-transform: uppercase; line-height: 1.3;}
        b{ font-weight: 400;}
        img{ margin: 0 8px;display: inline;vertical-align: baseline;}
        .button{ position: absolute; bottom: 0; left: 0;}
    }
    &__buttons{ display: flex; justify-content: flex-start; align-items: flex-start; margin-bottom: 22px;}
    &__left,
    &__right{  width: 16px; height: 19px; display: block; cursor: pointer; position: relative;
        &:before{ content: ''; width: 0; height: 0;border:9px solid transparent; border-left: 16px solid #ffde00; display: block; opacity: 0; }
        span{ width: 1px; height: 100%; background-color: #ffde00; position: absolute; left: 0; top: 0;
            &:before,
            &:after{content: ''; width: 1px; height: 100%; background-color: #ffde00; position: absolute; left: 0; top: 0; transform-origin: 0 0; transform: rotate(300deg);}
            &:before{transform: rotate(240deg); top: 100%;}
        }
        &:hover:before{ opacity: 1;}
    }
    &__left{transform:scaleX(-1); margin-right: 9px;

    }
}
.title{ width: 100%;
    h2{ display: inline-block;}
}