<div class="lk-ballancer">
    <div class="lk-ballancer__row lk-ballancer__row--head">
        <div class="lk-ballancer__cell">
            <i>
                <svg width="16px" height="14px">
                    <use xlink:href="#b1png"></use>
                </svg>
            </i>
            Баланс
            <span class="lk-card__informer lk-ballancer__info">
               <svg width="12px" height="12px">
                   <use xlink:href="#informer"></use>
                </svg>
                <div class="lk-card__tip">
                    Давно выяснено, что при оценке дизайна и композиции читаемый текст
                </div>
            </span>
        </div>
        <div class="lk-ballancer__cell">
            <i>
                <svg width="19px" height="15px">
                    <use xlink:href="#b2png"></use>
                </svg>
            </i>
            Бонусы
            <span class="lk-card__informer lk-ballancer__info">
                <svg width="12px" height="12px">
                   <use xlink:href="#informer"></use>
                </svg>
                <span class="lk-card__tip">
                    Давно выяснено, что при оценке дизайна и композиции читаемый текст
                </span>
            </span>
        </div>
    </div>
    <div class="lk-ballancer__row">
        <div class="lk-ballancer__cell lk-ballancer__cell--price">
            $9999.99
            <div class="lk-ballancer__drop lk-ballancer__drop--left">
                <div class="lk-ballancer__drop-row">
                    <div class="lk-ballancer__line">
                        <div class="lk-ballancer__icon">
                            <svg width="17" height="17.312">
                                <use xlink:href="#ballance01"></use>
                            </svg>
                        </div>
                        <div class="lk-ballancer__drop-title">Пополнить баланс</div>
                    </div>
                    <ul class="lk-ballancer__pay-list">
                        <li class="lk-ballancer__pay-item">
                            <a href="#" class="lk-ballancer__pay-link">
                                <img src="images/liqpay.png" alt="pay">
                            </a>
                        </li>
                        <li class="lk-ballancer__pay-item">
                            <a href="#" class="lk-ballancer__pay-link">
                                <img src="images/paypal.png" alt="pay">
                            </a>
                        </li>
                        <li class="lk-ballancer__pay-item">
                            <a href="#" class="lk-ballancer__pay-link">
                                <img src="images/payu.png" alt="pay">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="lk-ballancer__drop-row">
                    <div class="lk-ballancer__line">
                        <div class="lk-ballancer__icon">
                            <svg width="14px" height="14px">
                                <use xlink:href="#ballance02"></use>
                            </svg>
                        </div>
                        <a href="#" class="lk-ballancer__drop-title">История транзакций</a>
                    </div>
                </div>
                <div class="lk-ballancer__drop-row">
                    <div class="lk-ballancer__line">
                        <div class="lk-ballancer__icon">
                            <svg  width="13px" height="13px">
                                <use xlink:href="#ballance03"></use>
                            </svg>
                        </div>
                        <a href="#" class="lk-ballancer__drop-title">Возврат средтв</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="lk-ballancer__cell lk-ballancer__cell--price">
            $9.99
            <div class="lk-ballancer__drop lk-ballancer__drop--right">
                <div class="lk-ballancer__drop-row">
                    <div class="lk-ballancer__line">
                        <div class="lk-ballancer__icon">
                            <svg width="16px" height="18px">
                                <use xlink:href="#ballance04"></use>
                            </svg>
                        </div>
                        <div class="lk-ballancer__drop-title">сгорает <span>30.08.2017</span><div class="lk-ballancer__price">$1.55</div></div>
                    </div>
                </div>
                <div class="lk-ballancer__drop-row">
                    <div class="lk-ballancer__line">
                        <div class="lk-ballancer__icon">
                            <svg width="14px" height="14px">
                                <use xlink:href="#ballance02"></use>
                            </svg>
                        </div>
                        <a href="#" class="lk-ballancer__drop-title">История транзакций</a>
                    </div>
                </div>
                <div class="lk-ballancer__drop-row">
                    <label class="styled styled--flexc">
                        <input type="checkbox" name="order_track-later">
                        <i></i>
                        <span>использовать сначала бонусы при оплате услуг</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>