<!-- HEADER -->
<header>
    <div class="header">
        <div class="mbox">
            <div class="header__wrap">
               <div class="header__left">
                   <div class="header__logo"><a href="#">Shoppex.<span>us</span></a></div>
                   <div class="header__lang">
                       <select class="js-select-lang" name="">
                           <option value="1">ENG</option>
                           <option value="1">RUS</option>
                           <option value="1">UA</option>
                       </select>
                   </div>
               </div>
                <form class="header__search js-search">
                    <button><span></span></button>
                    <input type="text" placeholder="Поиск">
                    <ul class="header__result">
                        <li><a href="#1">Macys осенние летние кроссовки</a></li>
                        <li><a href="#2">Kohls кроссовки  вторая пара в подарок</a></li>
                        <li><a href="#3">Красный свитер Kohls акция</a></li>
                    </ul>
                </form>
                <div class="header__right">
                    <div class="header__contacts">
                        <a href="#" class="header__item">
                            <img src="images/ic-cont.png" alt="">
                            <span>обратная связь</span>
                            <span class="header__count"> 10 </span>
                        </a>
                    </div>
                    <!--<div class="header__enter">-->
                        <!--<a href="#" class="header__item">-->
                            <!--<img src="images/enter.svg" alt="">-->
                            <!--<span>вход в кабинет</span>-->
                        <!--</a>-->
                    <!--</div>-->
                    <div class="header__enter--entered header__enter js-dropdown-container">
                        <div class="header__item js-dropdown-button">
                            <img src="images/man.svg" alt="">
                            <span>мой кабинет</span>
                            <div class="header__arrow"></div>
                        </div>
                        <ul class="header__dropdown js-dropdown-block">
                            <li><a href="#">личные данные</a></li>
                            <li><a href="#">мои заказы</a></li>
                            <li><a href="#">настройки</a></li>
                            <li><a href="#">выход</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="mbox">
            <div class="nav__wrap">
                <ul>
                    <li><a href="#">магазины</a></li>
                    <li><a href="#">распродажи и скидки</a></li>
                    <li><a href="#">как пользоваться</a></li>
                    <li><a href="#">калькулятор</a></li>
                    <li><a href="#">помощь</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->