<div class="hidden-block">
    <div id="reg-popup" class="popup">
        <div class="popup__title">
            <div class="popup__img">
                <img src="images/popreg.png">
            </div>
            <h3>Регистрация</h3>
        </div>
        <form action="ajax.php" class="popup__form">
            <div class=" popup__row">
                <span>e-mail:</span>
                <div class="form_input js-input">
                    <input type="text" name="email" required="required" value="">
                </div>
            </div>
            <div class="popup__row">
                <span>Пароль:</span>
                <div class="form_input js-input">
                    <input type="password"  name="password" value="" required="required">
                </div>
            </div>
            <div class="popup__row">
                <span>Повторить пароль:</span>
                <div class="form_input js-input">
                    <input type="password"  name="repassword" value="" required="required">
                </div>
            </div>
            <div class="popup__row">
                <span>Страна:</span>
                <div class="form_input js-input">
                    <select name="">
                        <option value="1">Mordor</option>
                        <option value="1">Moria</option>
                        <option value="1">Gondor</option>
                        <option value="1">Rohan</option>
                        <option value="1">Astrahan</option>
                    </select>
                </div>
            </div>
            <div class="popup__row">
                <p class="js-input js-input--checkbox"><label class="styled"><input type="checkbox" name="agree"   required="required"><i></i>Я ознакомлен и согласен с </label><a href="#">Условиями сервиса</a></p>
            </div>
            <button type="submit" class="button">
                <span>создать личный кабинет</span>
            </button>
        </form>
        <div class="popup__footer">
            <div class="popup__frow">
                <span>зарегистрироваться с помощью:</span>
                <a href="#" class="social-icon social-icon--light" ><img data-object-fit src="images/fb.png" alt=""></a>
                <a href="#" class="social-icon social-icon--light" ><img data-object-fit src="images/vk.png" alt=""></a>
            </div>
            <div class="popup__row">
                <span>Уже зарегистрированы?</span>
                <a data-fancybox data-src="#enter-popup" href="javascript:;" class="button"><span>войти в кабинет</span></a>
            </div>
        </div>
    </div>
    <div id="enter-popup" class="popup">
        <div class="popup__title">
            <div class="popup__img">
                <img src="images/popent.png">
            </div>
            <h3>Войти в кабинет</h3>
        </div>
        <form action="ajax.php" class="popup__form">
            <div class="popup__row">
                <span>e-mail:</span>
                <div class="form_input js-input">
                    <input type="text" name="email" required="required"  value="">
                </div>
            </div>
            <div class="popup__row">
                <span>Пароль:</span>
                <div class="form_input js-input">
                    <input type="password"  name="password" value="" required="required">
                </div>
            </div>
            <div class="popup__row">
              <span></span>
                <p class="popup__forgot">
                    <a href="#">Забыли пароль?</a>
                </p>

            </div>
            <button type="submit" class="button">
                <span>войти в кабинет</span>
            </button>
            <p><a data-fancybox data-src="#enter-popup" href="javascript:;" class="popup__reghref"><img src="images/reghref.png" alt=""><span>зарегистрироваться</span></a></p>
        </form>
        <div class="popup__footer">
            <div class="popup__frow">
                <span>Или войти с помощью:</span>
                <a href="#" class="social-icon social-icon--light" ><img data-object-fit src="images/fb.png" alt=""></a>
                <a href="#" class="social-icon social-icon--light" ><img data-object-fit src="images/vk.png" alt=""></a>
            </div>

        </div>
    </div>
    <div id="ahtung-popup" class="popup">
        <div class="popup__body">
            <svg width="61" height="61">
                <use xlink:href="#alert"></use>
            </svg>
            <p>Добавление в избраное доступно только зарегистрированым пользователям</p>
        </div>
        <div class="succpop__main">
            <a href="#" class="button">
                <span>войти в кабинет</span>
            </a>
            <p><a data-fancybox data-src="#enter-popup" href="javascript:;" class="popup__reghref"><img src="images/reghref.png" alt=""><span>зарегистрироваться</span></a></p>
        </div>
        <div class="popup__footer">
            <div class="popup__frow">
                <span>Или войти с помощью:</span>
                <a href="#" class="social-icon social-icon--light" ><img data-object-fit src="images/fb.png" alt=""></a>
                <a href="#" class="social-icon social-icon--light" ><img data-object-fit src="images/vk.png" alt=""></a>
            </div>

        </div>
    </div>
    <div id="fileerror" class="popup">
        <div class="popup__body">
            <svg width="61" height="61">
                <use xlink:href="#redalert"></use>
            </svg>
            <p data-message="3">max size 4 image 6Mb</p>
            <p data-message="2">max size 4 doc 10Mb</p>
            <p data-message="1">only image or doc</p>
            <p></p>
            <div class="succpop__main">
                <a href="#" class="button" onclick="$.fancybox.close()">
                    <span>Зрозумів, Батьку!</span>
                </a>
            </div>
        </div>
    </div>
    <div id="del-adres-popup" class="popup popup--small">
        <div class="popup__body">
            <svg width="61px" height="61px">
                <use xlink:href="#yellowquest"></use>
            </svg>
            <p>Вы уверены, что хотите удалить контакт?</p>
        </div>

        <div class="popup__footer">
            <div class="popup__flexcentr">
                <a href="javascript:;" onclick="$.fancybox.close();" class="neworder__cancel">
                    <svg width="14px" height="14px">
                        <use  xlink:href="#delbutt"></use>
                    </svg>
                    <span>отмена</span>
                </a>
                <button class="button"><span>да</span></button>
            </div>
        </div>
    </div>
    <form class="delete-acc" id="delete">
        <div class="delete-acc__main">
            <div class="delete-acc__img">
                <svg width="61px" height="61px">
                    <use xlink:href="#yellowquest"></use>
                </svg>
            </div>
            <h3>Вы уверены, что хотите удалить аккаунт?</h3>
            <div class="delete-acc__subtitle">Укажите причину:</div>
            <textarea class="delete-acc__mess"></textarea>
        </div>
        <div class="popup__footer">
            <div class="popup__flexcentr">
                <a href="javascript:;" onclick="$.fancybox.close();" class="neworder__cancel">
                    <svg width="14px" height="14px">
                        <use  xlink:href="#delbutt"></use>
                    </svg>
                    <span>отмена</span>
                </a>
                <button class="button"><span>да</span></button>
            </div>
        </div>
    </form>
    <div class="succpop" id="succsess">
        <div class="succpop__main">
            <img src="images/secces.png" alt="">
            <h3>Спасибо за ваше обращение</h3>
            <p>Наш специалист ответит вам в течении 12 часов</p>
        </div>
        <div class="succpop__bottom">
            <h4> номер обращения 00001</h4>
        </div>
    </div>
    <div id="ava-popup" class="popup">
        <div class="popup__title ava-popup__title">
            <h3>Установить аватар</h3>
        </div>
        <div class="ava-popup">
            <label class="ava-popup__item">
                <input type="file">
                <span class="ava-popup__name">
                    <i>
                        <svg width="42px" height="36px">
                            <use xlink:href="#avapop01"></use>
                        </svg>
                    </i>
                    <span>загрузить Из своих фотографий</span>
                </span>
            </label>
            <a href="#" class="ava-popup__item">
                <span class="ava-popup__name">
                    <i>
                        <svg width="46px" height="46px">
                            <use xlink:href="#avapop02"></use>
                        </svg>
                    </i>
                    <span>установить из gravatar</span>
                </span>
            </a>
            <div class="ava-popup__item">
                <span class="ava-popup__name">
                     <i>
                        <svg width="40px" height="40px">
                            <use xlink:href="#avapop03"></use>
                        </svg>
                    </i>
                    <span>установить из соцсетей</span>
                </span>
                <div class="ava-popup__soc">
                    <a href="#" class="social-icon social-icon--light" ><img data-object-fit src="images/fb.png" alt=""></a>
                    <a href="#" class="social-icon social-icon--light" ><img data-object-fit src="images/vk.png" alt=""></a>
                </div>
            </div>
            <div class="ava-popup__buttons">
                <a href="javascript:;" class="neworder__cancel" onclick="$.fancybox.close();">
                    <svg width="14px" height="14px">
                        <use  xlink:href="#delbutt"></use>
                    </svg>
                    <span>отмена</span>
                </a>
                <a href="#" class="button"><span>установить</span></a>
            </div>
        </div>
    </div>
    <div class="shops__popover" id="magaz-pop">
        <h6>free shipping on all orders from $25</h6>
        <i>Покупай товаров на сумму более чем $25 и получи бесплатную доставку</i>
        <p><img src="images/clcl.png" alt=""><span>Действительна до:<br><span class="datac">12.09.2017</span></span></p>
        <a href="#" class="button"><span>получить</span></a>
    </div>
    <div id="magaz-pop2" class="popmain" >
        <div class="popmain__wrap">
            <div class="popmain__img">
                <img src="images/p1.jpg" alt="">
            </div>
            <div class="popmain__top">
                <p><b>Всего покупок</b><span class="pp-total">102 356</span></p>
                <p><b>Моих покупок</b><span class="pp-my">78</span></p>
                <a href="#" class="button"><span>перейти</span></a>
            </div>
            <div class="popmain__bottom">
                <b>Описание</b>
                <p  class="pp-description">Etsy - это известный во всем мире интернет-гипермаркет, в нем продаются товары для всей семьи.</p>
                <b>Тэги</b>
                <p class="pp-tags">
                    <a href="#">#одежда</a>
                    <a href="#">#обувь</a>
                    <a href="#">#электроника</a>
                    <a href="#">#детский мир</a>
                    <a href="#">#гипермаркет</a>
                </p>
                <div class="itemhover__spec">
                    <b>Особенности</b>
                    <div class="itemhover__spec-item">
                        <svg>
                            <use xlink:href="#aspect01"></use>
                        </svg>
                        <div class="tooltip">test</div>
                    </div>
                    <div class="itemhover__spec-item">
                        <svg>
                            <use xlink:href="#aspect02"></use>
                        </svg>
                        <div class="tooltip">test</div>
                    </div>
                    <div class="itemhover__spec-item" >
                        <svg>
                            <use xlink:href="#aspect03"></use>
                        </svg>
                        <div class="tooltip">test</div>
                    </div>
                    <div class="itemhover__spec-item">
                        <svg>
                            <use xlink:href="#aspect04"></use>
                        </svg>
                        <div class="tooltip">test</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup paysys" id="paysys">
        <div class="popup__title">
            <div class="popup__img">
                <svg>
                    <use xlink:href="#ballance"></use>
                </svg>
            </div>
            <h3>Пополнить счет</h3>
        </div>
        <div class="paysys__content">
            <div class="paysys__top">
                <div class="paysys__cell">
                    <div class="paysys__title">Сумма пополнения, $</div>
                    <div class="form_input js-input">
                        <input type="text" value="100.00">
                    </div>
                </div>
                <div class="paysys__cell">
                    <div class="paysys__title">
                        <span>Курс доллара</span>
                        <i>25.09.17</i>
                    </div>
                    <div class="paysys__curse">
                        <p><b>НБУ</b><i>26.42</i></p>
                        <p><b>Privat24</b><i>26.42</i></p>
                        <p><b>Webmoney WMU</b><i>26.42</i></p>
                        <p><b>Ощадбанк</b><i>26.42</i></p>
                    </div>
                </div>
            </div>
            <div class="paysys__bottom">
                <div class="paysys__title">способы пополнения</div>
                <!--<div class="paysys__tabbutons">-->
                    <!--<p class="active">Популярные</p>-->
                    <!--<p>электронные деньги</p>-->
                    <!--<p>банковская карта</p>-->
                <!--</div>-->
                <div class="paysys__tabs-wrap">
                    <div class="paysys__tab">
                        <div class="paysys__tab-item">
                            <input type="radio" name="tab-item">
                            <div class="paysys__item">
                                <div class="paysys__left">
                                    <div class="paysys__icon">
                                        <svg width="20px" height="20px">
                                            <use xlink:href="#paypal"></use>
                                        </svg>
                                    </div>
                                    <p>
                                        <a href="#">Paypal</a>
                                        <span data-title="tooltip text">
                                            <svg  width="12px" height="12px">
                                               <use xlink:href="#informer"></use>
                                            </svg>
                                       </span>
                                    </p>
                                </div>
                                <div class="paysys__right">
                                    <b>Сумма к оплате:</b>
                                    <i>$102.1</i>
                                    <span data-title="tooltip text">
                                        <svg  width="12px" height="12px">
                                           <use xlink:href="#informer"></use>
                                        </svg>
                                   </span>
                                </div>
                            </div>
                        </div>
                        <div class="paysys__tab-item">
                            <input type="radio" name="tab-item">
                            <div class="paysys__item">
                                <div class="paysys__left">
                                    <div class="paysys__icon">
                                        <svg width="20px" height="20px">
                                            <use xlink:href="#webmoney"></use>
                                        </svg>
                                    </div>
                                    <p>
                                        <a href="#">Webmoney</a>
                                        <span data-title="tooltip text">
                                            <svg  width="12px" height="12px">
                                               <use xlink:href="#informer"></use>
                                            </svg>
                                       </span>
                                        <select class="js-siple-select">
                                            <option value="wmz">wmz</option>
                                            <option value="wmu">wmu</option>
                                        </select>
                                    </p>
                                </div>
                                <div class="paysys__right">
                                    <b>Сумма к оплате:</b>
                                    <i>$102.1</i>
                                    <span data-title="tooltip text">
                                        <svg  width="12px" height="12px">
                                           <use xlink:href="#informer"></use>
                                        </svg>
                                   </span>
                                </div>
                            </div>
                        </div>
                        <div class="paysys__tab-item">
                            <input type="radio" name="tab-item">
                            <div class="paysys__item">
                                <div class="paysys__left">
                                    <div class="paysys__icon">
                                        <svg width="24px" height="18px">
                                            <use xlink:href="#bankcard"></use>
                                        </svg>
                                    </div>
                                    <p>
                                        <a href="#">Банковские карты через Liqpay</a>
                                        <span data-title="tooltip text">
                                            <svg  width="12px" height="12px">
                                               <use xlink:href="#informer"></use>
                                            </svg>
                                       </span>
                                    </p>
                                </div>
                                <div class="paysys__right">
                                    <b>Сумма к оплате:</b>
                                    <i>$102.1</i>
                                    <span data-title="tooltip text">
                                        <svg  width="12px" height="12px">
                                           <use xlink:href="#informer"></use>
                                        </svg>
                                   </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup__footer">
            <div class="popup__flexcentr">
                <div class="paysys__status">
                    <span>состояние счета после пополнения: <i>$125.05</i></span>
                </div>
                <div class="paysys__bttns">
                    <a href="javascript:;" onclick="$.fancybox.close();" class="neworder__cancel">
                        <svg width="14px" height="14px">
                            <use  xlink:href="#delbutt"></use>
                        </svg>
                        <span>отмена</span>
                    </a>
                    <button class="button"><span>пополнить</span></button>
                </div>

            </div>
        </div>
    </div>
</div>