<div class="important">
    <i>
        <svg>
            <use xlink:href="#redalert"></use>
        </svg>
    </i>
    <div class="important__text">
        <b>Это очень важно</b>
        <span>У нас большой опыт доставки посылок из США в Украину. Для того, чтобы максимально реализовать ваши пожелания, мы разработали свою систему доставки, у которой нет аналогов. Гарантия качества - это десятки тысяч постоянных клиентов и сотни тысяч доставленных посылок. Мы действительно очень хорошо разбираемся в этом вопросе так как совершаем покупки в США очень давно. Наши знания и экспертиза уникальны: мы знаем, в какой период лучше покупать ту или иную категорию товара, где найти промо-коды, как сократить расходы на доставку и т.д.
Мы экономим время каждого клиента, предлагая лучшие опции шоппинга и доставки из США всего в несколько кликов.
У нас два офиса: в Киеве и в штате Делавэр. Там же располагается наш американский склад, в котором мы получаем и упаковываем посылки.</span>

    </div>
    <div class="important__close" onclick="$(this).closest('.important').remove();">
        <svg width="25px" height="25px">
           <use xlink:href="#alertdel"></use>
        </svg>
    </div>
</div>
<div class="important important--green">
    <i>
        <svg>
            <use xlink:href="#greenalert"></use>
        </svg>
    </i>
    <div class="important__text">
        <b>информационное сообщение</b>
        <span>У нас большой опыт доставки посылок из США в Украину. Для того, чтобы максимально реализовать ваши пожелания, мы разработали свою систему доставки, у которой нет аналогов. Гарантия качества - это десятки тысяч постоянных клиентов и сотни тысяч доставленных посылок. Мы действительно очень хорошо разбираемся в этом вопросе так как совершаем покупки в США очень давно. Наши знания и экспертиза уникальны: мы знаем, в какой период лучше покупать ту или иную категорию товара, где найти промо-коды, как сократить расходы на доставку и т.д.
Мы экономим время каждого клиента, предлагая лучшие опции шоппинга и доставки из США всего в несколько кликов.
У нас два офиса: в Киеве и в штате Делавэр. Там же располагается наш американский склад, в котором мы получаем и упаковываем посылки.</span>

    </div>

</div>
<div class="important important--green">
    <i>
        <svg>
            <use xlink:href="#greenalert"></use>
        </svg>
    </i>
    <div class="important__text">
        <b>информационное сообщение</b>
        <span>У нас большой опыт доставки посылок из США в Украину. Для того, чтобы максимально реализовать ваши пожелания, мы разработали свою систему доставки, у которой нет аналогов. Гарантия качества - это десятки тысяч постоянных клиентов и сотни тысяч доставленных посылок. Мы действительно очень хорошо разбираемся в этом вопросе так как совершаем покупки в США очень давно. Наши знания и экспертиза уникальны: мы знаем, в какой период лучше покупать ту или иную категорию товара, где найти промо-коды, как сократить расходы на доставку и т.д.
Мы экономим время каждого клиента, предлагая лучшие опции шоппинга и доставки из США всего в несколько кликов.
У нас два офиса: в Киеве и в штате Делавэр. Там же располагается наш американский склад, в котором мы получаем и упаковываем посылки.</span>

    </div>
    <div class="important__close" onclick="$(this).closest('.important').remove();">
        <svg width="25px" height="25px">
            <use xlink:href="#alertdel"></use>
        </svg>
    </div>
</div>
<div class="important important--green">
    <i>
        <svg>
            <use xlink:href="#greenalert"></use>
        </svg>
    </i>
    <div class="important__text">
        <b>информационное сообщение</b>
        <span>У нас большой опыт доставки посылок из США в Украину. Для того, чтобы максимально реализовать ваши пожелания, мы разработали свою систему доставки, у которой нет аналогов. Гарантия качества - это десятки тысяч постоянных клиентов и сотни тысяч доставленных посылок. Мы действительно очень хорошо разбираемся в этом вопросе так как совершаем покупки в США очень давно. Наши знания и экспертиза уникальны: мы знаем, в какой период лучше покупать ту или иную категорию товара, где найти промо-коды, как сократить расходы на доставку и т.д.
Мы экономим время каждого клиента, предлагая лучшие опции шоппинга и доставки из США всего в несколько кликов.
У нас два офиса: в Киеве и в штате Делавэр. Там же располагается наш американский склад, в котором мы получаем и упаковываем посылки.</span>
        <div class="important__buttons">
            <button type="button" onclick="$(this).closest('.important').remove();" class="neworder__cancel">
                <svg  width="14px" height="14px">
                    <use xlink:href="#delbutt"></use>
                </svg>
                <span>отмена</span>
            </button>
            <button class="button"><span>пройти процедуру</span></button>
        </div>
    </div>
    <div class="important__close" onclick="$(this).closest('.important').remove();">
        <svg width="25px" height="25px">
            <use xlink:href="#alertdel"></use>
        </svg>
    </div>
</div>