<div class="lk-scelet__left js-dropdown-container">
    <div class="lk-menu__butter-wrap js-dropdown-button">
        <div class="lk-menu__butter"><span></span><span></span><span></span></div>
        <b>меню кабинета</b>
    </div>
    //= balance.html
    <div class="lk-menu js-dropdown-block">
        <div class="lk-menu__button">
            <a href="#" class="button"><span>Новый заказ</span></a>
        </div>
        <ul>
            <li><a href="#" class="active">Мои заказы </a></li>
            <li><a href="#">мой адрес в сша</a></li>
            <li><a href="#">личные данные</a></li>
            <li><a href="#">адресная книга</a></li>
            <li><a href="#">действия со счетом</a></li>
            <li><a href="#">дополнительные услуги</a></li>
            <li><a href="#">избранные магазины</a></li>
            <li><a href="#">ограничения транспортировки (опасные грузы)</a></li>
        </ul>
    </div>
    <div class="lk-menu__mob-button">
        <a href="#" class="button"><span>Новый заказ</span></a>
    </div>
</div>