<div class="lk-scelet__left js-dropdown-container catalog__menu-spec">
    <div class="lk-menu__butter-wrap js-dropdown-button">
        <i>
            <svg width="29" height="29">
                <use xlink:href="#catalog03"></use>
            </svg>
        </i>
        <b>Все категории всех категорий</b>
    </div>
    //= balance.html
    <div class="lk-menu lk-menu--catalog js-dropdown-block">
        <div class="lk-menu__button">
            <a href="#" class="button"><span>Новый заказ</span></a>
        </div>
        <ul>
            <li>
                <a href="#">
                    <i>
                        <svg width="31" height="31">
                            <use xlink:href="#catalog01"></use>
                        </svg>
                    </i>
                    <span>Избранные магазины</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i>
                        <svg width="25" height="25">
                            <use xlink:href="#sale01"></use>
                        </svg>
                    </i>
                    <span>Скидки дня (акции)</span>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#">
                    <i>
                        <svg width="29" height="29">
                            <use xlink:href="#catalog03"></use>
                        </svg>
                    </i>
                    <span>Все категории</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i>
                        <svg width="37" height="19">
                            <use xlink:href="#catalog04"></use>
                        </svg>
                    </i>
                    <span>Одежда, обувь и аксессуары</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i>
                        <svg width="29.75" height="26.719">
                            <use xlink:href="#catalog05"></use>
                        </svg>
                    </i>
                    <span>Спорт, туризм и активный отдых</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i>
                        <svg width="31" height="25">
                            <use xlink:href="#catalog06"></use>
                        </svg>
                    </i>
                    <span>Детский мир и материнство</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i>
                        <svg width="32" height="24">
                            <use xlink:href="#catalog07"></use>
                        </svg>
                    </i>
                    <span>Компьютеры, электроника и техника</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i>
                        <svg width="28.031" height="27.062">
                            <use xlink:href="#catalog08"></use>
                        </svg>
                    </i>
                    <span>Косметика</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i>
                        <svg width="25" height="27">
                            <use xlink:href="#catalog09"></use>
                        </svg>
                    </i>
                    <span>Автотовары</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i>
                        <svg width="30" height="30">
                            <use xlink:href="#catalog10"></use>
                        </svg>
                    </i>
                    <span>Дом, сад и офис</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i>
                        <svg  width="30" height="26.688">
                            <use xlink:href="#catalog11"></use>
                        </svg>
                    </i>
                    <span>Тематические магазины</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i>
                        <svg width="29" height="26">
                            <use xlink:href="#catalog12"></use>
                        </svg>
                    </i>
                    <span>Гипермаркеты</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="lk-menu__mob-button">
        <a href="#" class="button"><span>Новый заказ</span></a>
    </div>
</div>